<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sershare.asset.data.standard.mapper.GuarantyInfoMapper">
  <resultMap id="BaseResultMap" type="com.sershare.asset.data.standard.entity.GuarantyInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="agency_id" jdbcType="VARCHAR" property="agencyId" />
    <result column="asset_id" jdbcType="VARCHAR" property="assetId" />
    <result column="guaranty_type" jdbcType="VARCHAR" property="guarantyType" />
    <result column="guaranty_umber" jdbcType="VARCHAR" property="guarantyUmber" />
    <result column="mortgage_handle_status" jdbcType="VARCHAR" property="mortgageHandleStatus" />
    <result column="mortgage_alignment" jdbcType="VARCHAR" property="mortgageAlignment" />
    <result column="extra_info" jdbcType="CHAR" property="extraInfo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, agency_id, asset_id, guaranty_type, guaranty_umber, mortgage_handle_status, mortgage_alignment,
    extra_info, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_guaranty_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_guaranty_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weshare.assertstatus.entity.GuarantyInfo">
    insert into t_guaranty_info (project_id, agency_id,
      asset_id, guaranty_type,guaranty_umber, mortgage_handle_status,
      mortgage_alignment, extra_info, create_time, 
      update_time)
    values ( #{projectId,jdbcType=VARCHAR}, #{agencyId,jdbcType=VARCHAR},
      #{assetId,jdbcType=VARCHAR}, #{guarantyType,jdbcType=VARCHAR},#{guarantyUmber,jdbcType=VARCHAR}, #{mortgageHandleStatus,jdbcType=VARCHAR},
      #{mortgageAlignment,jdbcType=VARCHAR}, #{extraInfo,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weshare.assertstatus.entity.GuarantyInfo">
    insert into t_guaranty_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="agencyId != null">
        agency_id,
      </if>
      <if test="assetId != null">
        asset_id,
      </if>
      <if test="guarantyType != null">
        guaranty_type,
      </if>
      <if test="guarantyUmber != null">
        guaranty_umber,
      </if>
      <if test="mortgageHandleStatus != null">
        mortgage_handle_status,
      </if>
      <if test="mortgageAlignment != null">
        mortgage_alignment,
      </if>
      <if test="extraInfo != null">
        extra_info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="agencyId != null">
        #{agencyId,jdbcType=VARCHAR},
      </if>
      <if test="assetId != null">
        #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="guarantyType != null">
        #{guarantyType,jdbcType=VARCHAR}
      </if>
      <if test="guarantyUmber != null">
        #{guarantyUmber,jdbcType=VARCHAR},
      </if>
      <if test="mortgageHandleStatus != null">
        #{mortgageHandleStatus,jdbcType=VARCHAR},
      </if>
      <if test="mortgageAlignment != null">
        #{mortgageAlignment,jdbcType=VARCHAR},
      </if>
      <if test="extraInfo != null">
        #{extraInfo,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weshare.assertstatus.entity.GuarantyInfo">
    update t_guaranty_info
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="agencyId != null">
        agency_id = #{agencyId,jdbcType=VARCHAR},
      </if>
      <if test="assetId != null">
        asset_id = #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="guarantyType != null">
        guaranty_type = #{guarantyType,jdbcType=VARCHAR},
      </if>
      <if test="guarantyUmber != null">
        guaranty_umber = #{guarantyUmber,jdbcType=VARCHAR},
      </if>
      <if test="mortgageHandleStatus != null">
        mortgage_handle_status = #{mortgageHandleStatus,jdbcType=VARCHAR},
      </if>
      <if test="mortgageAlignment != null">
        mortgage_alignment = #{mortgageAlignment,jdbcType=VARCHAR},
      </if>
      <if test="extraInfo != null">
        extra_info = #{extraInfo,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weshare.assertstatus.entity.GuarantyInfo">
    update t_guaranty_info
    set project_id = #{projectId,jdbcType=VARCHAR},
      agency_id = #{agencyId,jdbcType=VARCHAR},
      asset_id = #{assetId,jdbcType=VARCHAR},
      guaranty_type = #{guarantyType,jdbcType=VARCHAR},
      guaranty_umber = #{guarantyUmber,jdbcType=VARCHAR},
      mortgage_handle_status = #{mortgageHandleStatus,jdbcType=VARCHAR},
      mortgage_alignment = #{mortgageAlignment,jdbcType=VARCHAR},
      extra_info = #{extraInfo,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByCompositeKeys" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from t_guaranty_info
    <where>
      <if test="assetId!=null and assetId!=''">
        asset_Id = #{assetId}
      </if>
      <if test="agencyId!=null and agencyId!=''">
        AND agency_id = #{agencyId}
      </if>
      <if test="projectId!=null and projectId!=''">
        AND project_id = #{projectId}
      </if>
      <if test="guarantyType!=null and guarantyType!=''">
        AND guaranty_type = #{guarantyType}
      </if>
      <if test="guarantyUmber!=null and guarantyUmber!=''">
        AND guaranty_umber = #{guarantyUmber}
      </if>



    </where>
  </select>

  <select id="selectByCompositeKeysList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from t_guaranty_info
    <where>
      <if test="assetId!=null and assetId!=''">
        asset_Id = #{assetId}
      </if>
      <if test="agencyId!=null and agencyId!=''">
        AND agency_id = #{agencyId}
      </if>
      <if test="projectId!=null and projectId!=''">
        AND project_id = #{projectId}
      </if>
    </where>
  </select>

  <select id="selectExtraInfoBySign" resultType="java.util.Map">
    select id, extra_info from t_guaranty_info where processed is null
  </select>

  <update id="updateSignById" parameterType="java.lang.Integer">
    update t_guaranty_info set processed = 1 where id = #{Id}
  </update>

  <select id="selectExtraInfoByAssetIdAndSign" parameterType="java.lang.String" resultType="java.util.Map">
    select id, extra_info from t_guaranty_info where asset_id = #{assetId} and processed is null
  </select>
</mapper>